---
import { Picture } from "astro:assets";
import BaseLayout from "../../layouts/BaseLayout.astro";
import MentoringCTA from "../../components/mentoring/MentoringCTA.astro";
import Hero from "../../components/Hero.astro";
import MenteesContent from "../../components/MenteesContent.astro";
import about from "../../../public/assets/about.jpg";
import { getLangFromUrl, useTranslations } from "../../i18n/utils";
import { calculateWidths } from "../../utils/imageOptimization.js";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const widths = calculateWidths([768], about.width);
---

<BaseLayout
	title={`${t("mentoring.title")} | Jorge del Casar`}
	description={t("mentoring.description")}
>
	<div class="stack gap-20">
		<main class="wrapper">
			<Hero
				title={t("mentoring.hero.title")}
				tagline={t("mentoring.hero.tagline")}
			>
				<Picture
					formats={["avif", "webp"]}
					loading="eager"
					fetchpriority="high"
					src={about}
					widths={widths}
					alt="Jorge del Casar"
					sizes="(min-width: 1420px) 768px, (min-width: 800px) calc(52.83vw + 28px), calc(100vw - 48px)"
				/>
			</Hero>

			<section>
				<h2>Benefits</h2>
				<div class="content">
					<dl>
						<dt>One-on-One Support</dt>
						<dd>
							Receive tailored guidance and support specific to
							your needs and goals.
						</dd>
						<dt>Experienced Insight</dt>
						<dd>
							Benefit from my knowledge and experience to navigate
							challenges and achieve success.
						</dd>
						<dt>Skill Development</dt>
						<dd>
							Work together to identify and strengthen your skills
							for maximum potential.
						</dd>
						<dt>Empowerment for Growth</dt>
						<dd>
							Partner with me on your journey of professional
							development, fostering your best version.
						</dd>
						<dt>Goal-Oriented Focus</dt>
						<dd>
							Collaborate to define your goals and create a clear
							roadmap for achieving them.
						</dd>
						<dt>No cost</dt>
						<dd>
							It is an altruistic task that I do in my free time
							to help you and learn from your experiences.
						</dd>
					</dl>
				</div>
			</section>
			<section>
				<h2>For whom?</h2>
				<div class="content">
					<p>
						Mentoring is intended for all those people who want to:
					</p>
					<ul>
						<li>Achieve professional goals.</li>
						<li>Unleash your full potential.</li>
						<li>Improve performance and productivity.</li>
						<li>Advance your career.</li>
						<li>Professional growth and development.</li>
					</ul>
				</div>
			</section>
			<section>
				<h2>Mentees</h2>
				<div class="content">
					<MenteesContent />
				</div>
			</section>
		</main>
		<MentoringCTA />
	</div>
</BaseLayout>

<style>
	.wrapper {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-4);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
	}

	section > h2 {
		grid-column-start: 1;
		font-size: var(--font-size-4);
		color: var(--text-1);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	dt {
		font-weight: bold;
	}

	dd {
		margin-bottom: 1rem;
	}

	dd:last-child {
		margin-bottom: 0;
	}

	@media (min-width: 50em) {
		.wrapper {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.wrapper > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--font-size-3);
		}
	}
</style>
