---
import { Picture } from "astro:assets";
import BaseLayout from "../layouts/BaseLayout.astro";
import MentoringCTA from "../components/mentoring/MentoringCTA.astro";
import Hero from "../components/Hero.astro";
import MenteesContent from "../components/MenteesContent.astro";
import about from "../../public/assets/about.jpg";
import { getLangFromUrl, useTranslations } from "../i18n/utils";
import { calculateWidths } from "../utils/imageOptimization.js";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const widths = calculateWidths([768], about.width);
---

<BaseLayout
	title={`${t("mentoring.title")} | Jorge del Casar`}
	description={t("mentoring.description")}
>
	<div class="stack gap-20">
		<main class="wrapper">
			<Hero
				title={t("mentoring.hero.title")}
				tagline={t("mentoring.hero.tagline")}
			>
				<Picture
					formats={["avif", "webp"]}
					loading="eager"
					fetchpriority="high"
					src={about}
					widths={widths}
					alt="Jorge del Casar"
					sizes="(min-width: 1420px) 768px, (min-width: 800px) calc(52.83vw + 28px), calc(100vw - 48px)"
				/>
			</Hero>

			<section>
				<h2>Beneficios</h2>
				<div class="content">
					<dl>
						<dt>Soporte personalizado</dt>
						<dd>
							Recibe orientación y soporte personalizados
							específicos para tus necesidades y objetivos.
						</dd>
						<dt>Visión experimentada</dt>
						<dd>
							Benefíciese de mis conocimientos y experiencia para
							afrontar los desafíos y alcanzar el éxito.
						</dd>
						<dt>Desarrollo de habilidades</dt>
						<dd>
							Trabajemos juntos para identificar y fortalecer tus
							habilidades para lograr el máximo potencial.
						</dd>
						<dt>Empoderamiento para el crecimiento</dt>
						<dd>
							Asóciate conmigo en tu viaje de desarrollo
							profesional, fomentando tu mejor versión.
						</dd>
						<dt>Enfoque orientado a objetivos</dt>
						<dd>
							Colaboremos para definir tus objetivos y crear una
							hoja de ruta clara para alcanzarlos.
						</dd>
						<dt>Sin coste</dt>
						<dd>
							Es una labor altruista que hago en mi tiempo libre
							para ayudarte y aprender de vuestras experiencias
						</dd>
					</dl>
				</div>
			</section>
			<section>
				<h2>¿Para quién?</h2>
				<div class="content">
					<p>
						La mentoría está destinada a todas aquellas personas que
						quieran:
					</p>
					<ul>
						<li>Alcanzar objetivos profesionales.</li>
						<li>Liberar todo su potencial.</li>
						<li>Mejorar el rendimiento y la productividad.</li>
						<li>Avanzar en su carrera.</li>
						<li>Crecimiento y desarrollo profesional.</li>
					</ul>
				</div>
			</section>
			<section>
				<h2>Mentorizados</h2>
				<div class="content">
					<MenteesContent />
				</div>
			</section>
		</main>
		<MentoringCTA />
	</div>
</BaseLayout>

<style>
	.wrapper {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	section > h2 {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	dt {
		font-weight: bold;
	}

	dd {
		margin-bottom: 1rem;
	}

	dd:last-child {
		margin-bottom: 0;
	}

	@media (min-width: 50em) {
		.wrapper {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.wrapper > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
