---
interface Props {
	title: string;
	tagline?: string;
	align?: "start" | "center";
}

const { align = "center", tagline, title } = Astro.props;
---

<div class:list={["hero stack gap-4", align]}>
	<div class="stack gap-2">
		<h1 class="title">{title}</h1>
		{tagline && <p class="tagline">{tagline}</p>}
	</div>
	<slot />
</div>

<style>
	.hero {
		font-size: var(--font-size-2);
		text-align: center;
	}

	.title,
	.tagline {
		margin-inline: auto;
		max-inline-size: none;
	}

	.title {
		font-size: var(--font-size-8);
	}

	.tagline {
		font-size: var(--font-size-4);
	}

	@media (min-width: 50em) {
		.hero {
			text-align: start;
		}

		.start .title,
		.start .tagline {
			margin-inline: unset;
		}
	}
</style>
