---
import mentees from "../data/mentees.json";
import { getLangFromUrl, useTranslations } from "../i18n/utils";
import { ui } from "../i18n/ui";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const totalMentees = Object.values(mentees).reduce(
	(acc, curr) => (acc += curr),
	0
);
---

<p>
	{t("mentees.content", { totalMentees })}
</p>
<ul>
	{
		Object.entries(mentees)
			.sort(([_1, value1], [_2, value2]) => (value1 < value2 ? 1 : -1))
			.map(([key, value]) => (
				<li>
					{t(`rol.${key}` as keyof (typeof ui)[typeof lang])}: {value}
				</li>
			))
	}
</ul>
