/* nice sticky footer, from http://getbootstrap.com/examples/sticky-footer/ */
html, body {
    height: 100%;
    /* The html and body elements cannot have any padding or margin. */
}
/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
footer[role=contentinfo] {
    height: 60px;
}

ul#markdown-toc:before {
  content: 'Tabla de contenidos';
}
ul#markdown-toc {
  float: right;
  padding-left: 1.5em;
  margin:0 0 1em 1em;
  @include shadow-box;
  list-style: decimal;
  background-color: white;
}
.blog-index #markdown-toc {
  display: none;
}

article img {
  padding: 0.5em;
  background-color: #FFF;
}
article .panel img {
  padding: 0;
  background-color: transparent;
  margin-top: -0.25em;
}
article img.dark {
  background-color:#333;
}
article img.pull-left {
  margin: 0 1em 1em 0;
}
article img.pull-right {
  margin: 0 0 1em 1em;
}
figure.code, .gist-file, pre {
  overflow: auto;
}
.panel h3 {
  margin:0
}
.panel .alert {
  margin: 0 -1em 10px;
  padding: 0.5em 1em;
  border-radius: 0;
}